<header>
    <div class="divided">
        <div class="face">
            <img src="/img/face.jpg" />
        </div>
        <div class="not-face">
            <span class="name">Lillian</span>
            <span class="byline">Woooah, look at this, it's my website</span>
        </div>
    </div>
    <ul class="contact-details contact-details-header">
        <li><i aria-hidden="true" class="icon-paper-plane"></i><span class="sr">Email address: </span><a href="mailto:web@littleintents.com">web@littleintents.com</a></li>
        <li><i aria-hidden="true" class="icon-location"></i><span class="sr">Location: </span>New York</li>
        <li><i aria-hidden="true" class="icon-couchers"></i><span class="sr">Couchers.org: </span><a href="https://couchers.org/user/lillian">lillian</a></li>
    </ul>
    <ul class="nav-links">
        <li><a href="/">About me</a></li>
        <li><a href="/words/">Words</a></li>
    </ul>
</header>
